.custom-iconss22{
    font-size: 40px;
    /* padding-left:; */
    /* padding: ;   */
}
.custom-iconss11{
    font-size: 40px;

}
.custom-iconss33{
    font-size: 30px;
    color: white;
}
.img333{
    width: 30px;
    border-radius: 60%;
    /* color: wheat; */
}
.txt11{
    color: #fff;
}
 
